<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>signup</h1>
        <form action="/createProcess" method="POST">
            <form action="">
                NEW ID: <input type="text" name = "newId" required> </br>
                NEW PW: <input type="text" name = "newPw" required> </br>
                NAME : <input type="text" name="newName" required>
                <input type="submit" value = "signup">
        </form>
    </div>
</body>
</html>